:root {
    --black: #272D37;
    --white: #ffffff;
    --blue: #437EF7;
    --light-blue: #e6f0ff;
    --dark-white: #f8f9fb;
    --light-gray: #DAE0E6;
    --gray: #5F6D7E;
    --light-gray-border: #EAEBF0;
    --icon-bg: #F5FAFF;
    --blue-bg: #2B63D9;
    --gray-bg: #FAFBFC;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
html {
  height: 100%;
}
body {
  line-height: 1;
  background: #FFF;
  height: 100%;
  font-family: "Inter", sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
* {
box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  padding-left: 16px;
  padding-right: 16px;
}
.header, .showcase{
    background-image: url(../images/base-bg.png), url(../images/base-bg-bottom.png);
    background-size: cover;
    background-repeat: no-repeat;
}
header {
	width: 100%;
	border-bottom: 1px solid #2E3545;
	.container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 20px;
		height: 64px;
	}
}

.header__wrapper {
	display: flex;
	align-items: center;
}

.header__logo {
	margin-right: 69px;
}

.header__nav {
	display: none;
	ul {
		display: flex;
		align-items: center;
		li {
			margin-right: 32px;
			a {
				color: var(--black);
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}
}
.header__sign {
	display: none;
}
.header_sign--buttons {
	font-size: 15px;
	font-weight: 600;
	line-height: 22px;
	text-align: left;
	padding: 12px 18px;
	text-decoration: none;

	&:first-child {
		color: var(--blue);
	}

	&:last-child {
		color: var(--white);
		background-color: var(--blue);
		border-radius: 6px;
		margin-left: 6px;
	}

}
.header__hamburger-menu {
	display: flex;
	align-items: center;
	justify-content: center;
    a{
        color: var(--white);
    }
}
.showcase {
	background-color: var(--dark-white);
	padding: 32px 0 0;
    margin-bottom: 32px;
    .showcase-container{
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        padding-left: 16px;
        padding-right: 16px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img{
            margin-bottom: 32px;
        }
        h1 {
            font-size: 36px;
            font-weight: 600;
            line-height: 44px;
            letter-spacing: -0.02em;
            text-align: center;
            margin-bottom: 16px;
            color: var(--white);
        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;
            letter-spacing: -0.10000000149011612px;
            text-align: center;
            margin-bottom: 32px;
            color: var(--white);
        }
    
        br {
            display: none;
        }
    }
}
.showcase__buttons{
    display: flex;
    flex-direction: column;
    gap: 16px;
    width: 100%;
}
.btn {
	min-height: 46px;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	border-radius: 6px;
	padding: 12px 18px;
    gap: 6px;
}

.btn--primary {
	background-color: var(--blue);
	color: var(--white);
}

.btn--secondary {
	background-color: #2C3444;
	border: 1px solid #2E3545;
	color: var(--white);
    margin-bottom: 105px;
}

.features{
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .features__title{
        h2{
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.02em;
            text-align: center;
            margin-bottom: 12px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.10000000149011612px;
            text-align: center;
            margin-bottom: 32px;
            color: #5F6D7E;            
        }
    }
    .features__content{
        .base{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            img{
                margin-bottom: 16px;
            }
            h3{
                margin-bottom: 8px;
                font-size: 20px;
                font-weight: 600;
                line-height: 28px;
                letter-spacing: -0.02em;
                text-align: center;
            }
            p{
                margin-bottom: 16px;
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.10000000149011612px;
                text-align: center; 
                color: #5F6D7E;               
            }
            a{
                margin-bottom: 40px;
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                text-align: left;
                display: flex;
                align-items: center;
                gap: 6px;
                color: var(--blue);                
            }
        }
        
    }
}
.product-features{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    .product-features__title{
        h2{
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.02em;
            text-align: center;
            color: #272D37;     
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.10000000149011612px;
            text-align: center;
            color: #5F6D7E;
            margin-bottom: 32px;
        }
    }
    .product-features__content{
        display: flex;
        flex-direction: column;
        gap: 32px;
        margin-bottom: 32px;
        .blog{
            display: flex;
            gap: 16px;
            img{
                height: 48px;
            }
            .blog__text{
                display: flex;
                flex-direction: column;
                gap: 8px;
                h3{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 28px;
                    letter-spacing: -0.02em;
                    text-align: left;  
                    color: #272D37;                   
                }
                p{
                    font-size: 13px;
                    font-weight: 400;
                    line-height: 18px;
                    text-align: left;
                    color: #5F6D7E;
                }
                a{
                    font-size: 15px;
                    font-weight: 600;
                    line-height: 22px;
                    text-align: left;
                    display: flex;
                    align-items: center;
                    gap: 6px;
                    color: var(--blue);                
                }
            }
        }

    }
}
.branding-graphic{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    background-color: var(--blue-bg);
    padding-block: 32px;
    .branding-graphic__content{
        img{
            margin-bottom: 32px;
        }
        .branding-graphic__text{
            h2{
                font-size: 28px;
                font-weight: 600;
                line-height: 36px;
                letter-spacing: -0.02em;
                text-align: left;
                color: var(--white);
                margin-bottom: 24px;
            }
            p{
                font-size: 16px;
                font-weight: 400;
                line-height: 24px;
                letter-spacing: -0.10000000149011612px;
                text-align: left;
                color: #B1CCFB;
                margin-bottom: 8px;                
                i{
                    padding-right: 8px;
                }                
            }
            .last-p{
                margin-bottom: 32px;
            }
            a{
                padding: 12px 18px;
                border-radius: 6px;
                font-size: 15px;
                font-weight: 600;
                line-height: 22px;
                text-align: center;
                display: inline-flex;
                align-items: center;
                gap: 6px;
                color: var(--white);
                background-color: var(--blue);                
            }
        }
    }
}
.proud-blog{
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    padding-left: 16px;
    padding-right: 16px;
    padding-block: 32px;
    .proud-blog__title{
        display: flex;
        flex-direction: column;
        align-items: center;
        h3{
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--black);
            margin-bottom: 12px;
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.10000000149011612px;
            text-align: center;
            color: var(--gray);
            margin-bottom: 32px;
        }
        img{
            margin-bottom: 16px;
        }
        a{
            font-size: 15px;
            font-weight: 600;
            line-height: 22px;
            text-align: left;
            display: flex;
            align-items: center;
            gap: 6px;
            color: var(--blue);              
        }
    }
    .proud-blog__grid{
        padding-top: 32px;
        h3{
            font-size: 24px;
            font-weight: 700;
            line-height: 32px;
            letter-spacing: -0.02em;
            text-align: center;
            color: var(--black);
            margin-bottom: 12px;   
        }
        p{
            font-size: 16px;
            font-weight: 400;
            line-height: 24px;
            letter-spacing: -0.10000000149011612px;
            text-align: center;       
            color: var(--gray);
            margin-bottom: 24px;   
        }
        .grid-blog{
            display: grid;
            grid-template-columns: auto;
            
            .grid-blog__items{
                border-radius: 5px;
                border: 1px solid #EAEBF0;
                box-shadow: 0px 1px 2px 0px #1018280A;
                padding: 24px;
                margin-bottom: 16px;
                .item-title{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    .span1{
                        padding: 2px 8px 2px 8px;
                        border-radius: 5px;
                        font-size: 14px;
                        font-weight: 500;
                        line-height: 20px;
                        letter-spacing: -0.10000000149011612px;
                        text-align: center;
                        background-color: #5390F8;
                        color: var(--white);
                        margin-bottom: 8px;               
                    }
                    h1{
                        font-size: 28px;
                        font-weight: 600;
                        line-height: 36px;
                        letter-spacing: -0.02em;
                        text-align: left;
                        color: var(--black);
                        margin-bottom: 4px;                 
                    }
                    .span2{
                        font-size: 16px;
                        font-weight: 500;
                        line-height: 24px;
                        letter-spacing: -0.10000000149011612px;
                        text-align: left;
                        color: var(--gray);
                        margin-bottom: 24px;
                    }
                }
                
                .grid-lower{
                    border-top: 1px solid #EAEBF0;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    padding-top: 24px;
                    &:first-child{
                        margin-top: 24px;
                    }
                    .grid-p5{
                        margin-bottom: 24px;
                    }
                    p{
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 24px;
                        letter-spacing: -0.10000000149011612px;
                        text-align: left;
                        color: var(--black);
                        margin-bottom: 8px;
                        i{
                            margin-right: 8px;
                        }
                    }
                    a{
                        width: 100%;
                        padding: 12px 18px 12px 18px;
                        border-radius: 6px;
                        background-color: var(--blue);
                        font-size: 15px;
                        font-weight: 600;
                        line-height: 22px;
                        text-align: left;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--white);
                        margin-top: 24px;
                      
                    }
                }
            }
        }
    }
}
